@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

body {
  background: #0079bf;
}

.tareas-container {
  background-color: #ebecf0;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;  
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 10px;
}

.contenedor-principal {
  background-color: #0079bf;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
  gap: 25px;
  /*Espaciado entre los flex*/
}

.div-boton-compartir{
  display: none;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .contenedor-principal {
    flex-direction: column;
  } 
  .div-boton-compartir{
    display: block;
  }
  .boton-compartir{
    color: #049c11;
    font-size:x-large
  }

  .card {
    width: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 10px;
  }

}


.botonenvio {
  font-family: inherit;
  font-size: 10px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  width: 100px;
  margin-right: 0;


 }
 
 .botonenvio span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
 }
 
 .botonenvio svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }
 
 .botonenvio:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
 }
 
 .botonenvio:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }
 
 .botonenvio:hover span {
  transform: translateX(5em);
 }
 
 .botonenvio:active {
  transform: scale(0.95);
 }
 
 @keyframes fly-1 {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }



.navbar {
  background: #0066a0;
  height: 60px;
}

.btnCrear {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;

  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.myButton:active {
  position: relative;
  top: 1px;
}


.titulobrand {
  font-family: 'Monofett', cursive;
  margin-left: 20px;
  color: #ffffff;
}

.titulocard {
  font-family: 'Varela Round', sans-serif;
  font-size: small;
  color: #1d1d1d;
  text-transform: uppercase;
}

.tareacard {
  font-family: 'Varela Round', sans-serif;
  font-size:medium;
  color: #1d1d1d; 
}
span{
  font-size: small;
  font-family: 'Varela Round', sans-serif;
  color: #888888;
}

.btn-delete {
  background-color: #d0d0d1;
  border-color: #ffffff;
  color: #1d1d1d;
  font-size: small;
}

.btn-edit {
  background-color: #026aa7;
  border-color: #ffffff;
  font-size: small;
}


.firma {
  font-family: 'The Nautigal', cursive;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.copyright {
  font-family: 'Varela Round', sans-serif;
  font-size: small;
  color: #ffffff;
  position: fixed;
  left: 0;
  bottom: 30;
  width: 100%;
  text-align: center;

}


.modal-content{
  background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
    border-color: #ebecf0;
    border-radius: 15px;
    font-family: 'Varela Round', sans-serif;
    
}

.icofont-external-link{
  pointer-events:none;
}
